/* Author Name: Michael Christman */
/* Creation Date: January 8th, 2023*/
/* Assignment Name: 1.3 - Environment Setup */
/* File Path: MichaelChristman1999/web-231/week-1/site.css*/

/* Container section margin styles*/

html {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Header tag background, text, border, and padding styles*/
h1, h2, h3, h4 {
    background-color: #3C275A;
    color: white;
    border: #D6A800 solid 1px; 
    padding: 10px;
}

/* Anchor tag styles for default, hovered over, and visited links*/
a {
    color: #453674;
    text-decoration: none;
}

a:hover {
    color: #4F3674;
    text-decoration: none;
}

a:visited {
    color: #3C275A;
    text-decoration: none;
}
