<!--
    Title: boarding.ejs
    Author: Michael Christman
    Date: April 14th, 2023
    Description: This is the .ejs file for the Pets-R-Us project boarding page
-->
<!--Main Grooming Page Image -->
            <div class="main-grooming-image">
                <img src="/images/Dog_Grooming_Haircut_Scissors.jpg" id="main-grooming-image" alt="Dog getting hair cut with scissors">
    <div class="centered-3">Boarding</div>
</div>

<!--About Boarding Card-->
<div class="card" id="boarding-card">
    <h1>Boarding</h1>
    <h3 id="about-boarding-paragraphs">
        Going out of town and can't take your furry friend with you? <br>
        Don't worry! We've got you covered.
        <br><br><hr><br>
        Our pet boarding services at Pets-R-Us provide a safe, comfortable, and cage-free environment for 
        your pets while you're away. Our experienced and caring staff will provide your pets with 
        personalized attention and care to ensure they feel right at home. We offer spacious and 
        comfortable sleeping areas, as well as indoor and outdoor play areas, so your pets can move around
        and exercise freely. Plus, we provide daily exercise and playtime to keep your pets happy and 
        healthy. <br><br>Contact us to schedule your pet's next cage-free boarding stay at Pets-R-Us!
    </h3>
</div>
<hr>

<!--Pricing Card-->
<div class="card" id="boarding-services-master">
    <h2>Pricing</h2>
    <ul id="boarding-pricing-card">
        <li class="pet-services">
            <b>1 pet up to 5 nights:</b><br><br>$40 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="pet-services">
            <b>2 pets 5 nights or over:</b><br><br>$60 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="pet-services">
            <b>3 pets up to 5 nights:</b><br><br>$90 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="pet-services">
            <b>1 pet 5 nights or over:</b><br><br>$35 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="pet-services">
            <b>2 pets up to 5 nights:</b><br><br>$65 per night<br><br><hr class="boarding-hr">
        </li>
        <li class="pet-services">
            <b>3 pets 5 nights or over:</b><br><br>$75 per night<br><br><hr class="boarding-hr">
        </li>
    </ul>
</div>
