<!--
    Title: grooming.ejs
    Author: Michael Christman
    Date: April 9th, 2023
    Description: This is the grooming.ejs file for the Pets-R-Us project's Grooming page
-->
<!DOCTYPE html>
<html lang="en">
    <head>
<!--External stylesheet link (I tried to finding the best, most compatible styles and fonts that I possibly could) -->
        <link rel="stylesheet" href="/styles/pets-r-us-project.css">
        <title>Pets-R-Us Grooming</title>
    </head>

    <body>
        <div class="primary-container">

<!--Pets R Us main navigation section-->
            <div class="navigation-bar">
                <ul>
                    <li><a class="navigation-link" href="/grooming">Grooming</a></li>
                    <li><a class="navigation-link" href="/customers">Customer List</a></li>
                    <li><a class="navigation-link" href="/booking">Book Appointment</a></li>
                    <li><a class="navigation-link" href="/my-appointments">My Appointments</a></li>
                    <li><a class="navigation-link" href="/services">Services</a>
                        <ul class="hidden-navigation-list">
                            <li><a class="hidden-navigation-link" href="/boarding">Boarding</a></li>
                            <li><a class="hidden-navigation-link" href="/grooming">Grooming</a></li>
                            <li><a class="hidden-navigation-link" href="/grooming">Training</a></li>
                        </ul>
                    </li>
                    <li><a class="navigation-link" href="/index">Home</a></li>
                </ul>
            </div>

<!--Main Grooming Page Image -->
            <div class="main-grooming-image">
                <img src="/images/Dog_Grooming_Haircut_Scissors.jpg" id="main-grooming-image" alt="Dog getting hair cut with scissors">
                <div class="centered-div-2">Grooming</div>
            </div>

<!--Grooming Card-->
            <div class="card" id="grooming-card">
                <h1>Grooming</h1>
                <h3 id="grooming-paragraph-section">
                    At Pets-R-Us, we understand that your furry friends are more than just pets...they're members of your family. 
                    That's why we offer professional animal grooming services to keep your pets looking and feeling their best. 
                    Our experienced groomers use only natural and high-quality products to ensure your pet's health and comfort. 
                    From nail trimming and ear cleaning to full haircuts and baths, we provide a range of grooming services tailored 
                    to meet your pet's specific needs. Let us pamper your furry friend with the care and attention they deserve.<br>
                    Contact us today to schedule an appointment for your pet's next grooming session!
                </h3>
            </div>
            <hr>

<!--Services Menu-->
            <div class="card" id="services-menu">
                <h2>Services</h2>
                <ul id="service-card">
                    <li class="services">
                        <b>Bathing and Brushing</b><br>Our basic bath and brush service includes a shampoo and conditioning treatment, 
                        followed by a blow-dry and brush-out.<br><br>Price: $31.99<br><hr>
                    </li>
                    <li class="services">
                        <b>Nail Trimming</b><br>Our nail trim service ensures your pet's nails are clipped safely and correctly, helping to 
                        prevent discomfort and potential health problems.<br><br>Price: $13.99<br><hr>
                    </li>
                    <li class="services">
                        <b>Dental Cleaning</b><br>Our teeth cleaning service helps to maintain your pet's oral hygiene, preventing bad breath and 
                        potential dental problems.<br><br>Price: $36.99<br><hr>
                    </li>
                    <li class="services">
                        <b>Ear Cleaning</b><br>Our ear cleaning service helps to prevent infections and ear mites by gently and effectively 
                        removing dirt and debris from your pet's ears.<br><br>Price: $8.99<br><hr>
                    </li>
                    <li class="services">
                        <b>"Full Monty" Haircut</b><br>The "Full Monty" haircut service includes blow-drying, bathing, brushing, and a haircut for your pet at any
                        desired style and/or length.<br><br>Price: $54.99<br><hr>
                    </li>
                </ul>
            </div>

<!--Footer-->
            <footer>
                <div class="contact-info">
                      <p>Phone: (242) 480-6507</p>
                      <p id="email">Email: ypetrus91@petsrus.com</p>
                </div> 
            </footer>
        </div>
    </body>
</html>
