/**
=================================================================
Title: Assignment 3.2 - Restaurant App
Author: Michael Christman
Date: March 31st, 2023
Description: Main external CSS stylesheet
================================================================
*/

/* Importing google fonts using link */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
	font-family: Oswald;
}

.container {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

a {
	color: #453674;
	text-decoration: none;
}


/* When a user hovers over a link, it will change to the color specified below. */

a:hover {
	background-color: #D6A800;
	color: #4F3674;
}


/* This will change colors to indicate that it's been previously visited. */

a:visited {
	color: #3C275A;
}

#icon-mode:hover {
	cursor: pointer;
}

#icon-text {
	padding-left: 10px;
}

.pull-right {
	float: right;
}

.assign-container {
	padding: 10px;
}

.assign-content {
	width: 600px;
	margin: 3% auto 0;
}

.assign-results-text {
	text-align: center;
	font-size: 28px;
}

.app-header {
    font-size: 28px;
    text-align: center;
}

.full-width {
	width: 100%;
}

.form {
	display: inline-grid;
	grid-template-columns: auto;
}

.form-field {
	padding: 20px;
}

.return-home {
	color: #4f3674;
	text-decoration: none;
	margin-left: 460px;

}

.return-home:hover {
	color: #4f3674;
	background-color: #d6a800;
}

.return-home:visited {
	color: #3c275a;
}
