<!--Footer-->
            <footer>
                <div class="contact-information">
                      <p>Phone: (242) 480-6507</p>
                      <p id="email-address">Email: ypetrus91@petsrus.com</p>
                </div> 
            </footer>
