<!--Header-->
            <div class="navigation-bar">
                <ul>
                    <li><a class="navigation-link" href="/grooming">Grooming</a></li>
                    <li><a class="navigation-link" href="/my-appointments">My Appointments</a></li>
                    <li><a class="navigation-link" href="/booking">Booking</a></li>
                    <li><a class="navigation-link" href="/customers">Customers</a></li>
                    <li><a class="navigation-link" href="/services">Services</a>
                        <ul class="hidden-navigation-list">
                            <li><a class="hidden-navigation-link" href="/grooming">Grooming</a></li>
                            <li><a class="hidden-navigation-link" href="/boarding">Boarding</a></li>
                            <li><a class="hidden-navigation-link" href="/grooming">Training</a></li>
                        </ul>
                    </li>
                    <li><a class="navigation-link" href="/index">Home</a></li>
                </ul>
            </div>
