<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

<!--Retrieves the Title of the Page from the index.js-->
        <title><%- title %></title>

<!--External stylesheet link for the Pets R Us Project-->
        <link rel="stylesheet" href="/styles/pets_r_us.css">
    </head>

<!--Layout template For the Pets R Us site, which will add the header and footer sections to each page-->
    <body>
        <div class="container">
            <%- include('../partials/_header.ejs') %>

            <%- body %>
            
            <%- include('../partials/_footer.ejs') %>

        </div>
    </body>
</html>
